* {
  font-weight: 600;
  color: white;
}

body {
  font-family: interface, Helvetica Neue, helvetica, sans-serif;
  background-color: black;
}

.nav {
  display: flex;
  height: 60px;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo-name {
  position: relative;
  margin: 0;
  font-size: 2.5rem;
  background: linear-gradient(136deg, rgb(153, 51, 255), rgb(255, 102, 102));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav__logo-name::before {
  animation: sliding 2s 0.5s infinite;
  content: '';
  /* width: 100%;
  height: 100%; */
  background: linear-gradient(
    136deg,
    transparent,
    rgb(153, 51, 255),
    transparent
  );
  position: absolute;
}

.nav ul {
  display: flex;
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: 1.12rem;
}

.nav__link {
  margin-right: 5px;
  padding: 5px 10px;
}

.nav > div {
  margin-right: 20px;
}

.nav > div:last-child {
  margin-right: 0px;
}

.nav__btn-container {
  background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
}

.btn {
  padding: 8px 10px;
  font-size: 1.05rem;
  background-color: transparent;
  color: white;
  border: none;
  border-right: 4px solid black;
}

.nav__user {
  height: 36px;
  display: flex;
  align-items: center;
  background-color: #3e3e3e;
  height: 36px;
}
.nav__user-img-wrapper,
.nav__user-img,
.nav__user-accordion {
  height: 36px;
  width: 36px;
}

.nav__user-link-wrapper {
  min-width: 100px;
  text-align: center;
}

.search__input-container {
  width: 100%;
  max-width: 1200px;
  height: 52px;
  display: flex;
  margin: 0 auto;
}

.search__input {
  height: 52px;
  width: 1146px;
  margin-right: 6px;
  background-color: rgba(119, 136, 153, 0.671);
}

.search__logo {
  cursor: pointer;
}

.main {
  height: 840px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 15px;
}

.trending-tile {
  padding-left: 8px;
  width: 100%;
  height: 50px;
  letter-spacing: 5px;
  word-spacing: 10px;
}

.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100%;
  width: 1200px;
  min-height: 200px;
}

.trending-images {
  width: 288px;
  height: 200px;
  border: 3px solid white;
}

.search-tile {
  padding-left: 8px;
  width: 100%;
  height: 50px;
  letter-spacing: 5px;
  word-spacing: 10px;
}
.trending-tile,
.search-tile {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.trending-tile h3,
.search-tile h3 {
  margin: 0;
}

.search-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* div img {
    width: 300px;
  } */
}

.search-images {
  width: 281px;
  height: 168px;
  padding: 3px;
}

@keyframes sliding {
  from {
    bottom: 0%;
    left: 0%;
  }
  to {
    top: 100%;
    right: 100%;
  }
}

/* .p-n-button-container {
  height: 50px;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.btn {
  padding: 8px 10px;
  background-color: aquamarine;
} */
